<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CasaStream</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/toggle-switch.css">
    </head>
    <body>
        <header>
            <p id="title">CasaStream</p>
        </header>
        
        <div id="main">

        
            
            <section id="settings">
                <label id="master-enable" class="checkbox blue toggle android" onclick="">
                    <input type="checkbox" id="master_toggle">
                        <span>            
                            <span>disabled</span>
                            <span>enabled</span>
                        </span>
                    <a class="slide-button"></a>
                </label>
                   
                <h3 id="info">Please wait while the system gets started.</h3>
            </section>

            <section class="half">
                <h2>CasaStream zones</h2>
                <p>Select zones to receive CasaStream's broadcast. <span class="link" id="rescan">Re-scan</span></p>
                <ul id="slaves">
                    <p><i>Searching for zones...</i></p> 
                </ul>
            </section>

            <section class="half">
                <h2>Sound sources</h2>
                <p>Select applications you want CasaStream to broadcast. Applications can take up to 10 seconds to be discovered by CasaStream.</p>
                <ul id="sources">
                    <p><i>Searching for sources...</i></p>
                </ul>
            </section>


        </div>
        <script src="/static/js/jquery.js"></script>
        <script type="text/javascript">

        var enabled = false;
 
        function loadListeners(){
           $("#master_toggle").click(function(event){
                event.stopImmediatePropagation();
                $("#master-enable").stop().animate({opacity:'0.3'},300);
                if($(this).is(':checked')){
                    start_stream();
                }
                else{stop_stream();}
            });            

            $(".toggle_slave").click(function(event){
                event.stopImmediatePropagation();
                slave = $(this).attr("rel");
                if($(this).is(':checked')){
                    enable_slave(slave);
                }
                else{disable_slave(slave);}
            });           

            $(".toggle_source").click(function(event){
                event.stopImmediatePropagation();
                var sources = "";
                $(".toggle_source").each(function(){
                    if($(this).is(':checked')){
                        sources = sources+$(this).attr("rel")+",";
                    }
                });                              
                sort_inputs(sources); 
            });    
            $("#rescan").click(function(event){
                event.stopImmediatePropagation();
                $("#rescan").html('');
                scan();
            });    
        }

        function send_command(url, func){
            $.ajax({
                type : 'GET',
                url : url,
                dataType : 'json',
                success : function(data){
                    if(func != undefined){
                       func(data);                 
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                }
            });
        }
        
        function update_slave(type, slave){
            url = "disable-slave/"+slave;
            if(type == 1){url = "/enable-slave/"+slave;}
            $.ajax({
                type : 'GET',
                url : url,
                dataType : 'json',
                success : function(data){
                        
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                }
            });
        }

        function start_stream(data){
            if(data == undefined){send_command("/start/", start_stream);}
            else{
                get_status();
            }
        }       

        function stop_stream(data){
            if(data == undefined){send_command("/stop/", start_stream);}
            else{
                get_status();
            }
        }       

        function get_status(data){  
            if(data == undefined){send_command("/status/", get_status);}
            else{
		console.log(data);
                if(data['enabled'] == true){
		    
                    enabled = true;
                    $("#master_toggle").attr('checked','checked');
                    $("#info").html('CasaStream is now broadcasting over the network.');
		    $("#master-enable").stop().animate({opacity:'1.0'}, 300);
                    s = "";
                    for(var i = 0; i < data['inputs'].length; i++){
                        s = s + '<li class="slave"><p>'+data['inputs'][i]['name']+'</p>';
                        s = s + '<label class="checkbox toggle android" style="width:100px;float:right;" onclick=""><input type="checkbox" class="toggle_source"';
		        if(data['inputs'][i]['casastream'] == true){		
 			    s = s + 'checked '; 
		        }
		        s = s + 'rel="'+data['inputs'][i]['id']+'"><span><span>Off</span><span>On</span></span><a class="slide-button"></a></label>';
                        s = s + '<div style="clear:both"></div></li>';
                    }
                    $("#sources").html(s);
                }
                if(data['enabled'] == false){
                    enabled = false;
                    $("#status").html('<span class="offline">offline</span><button id="enable">Start</button>');           
                    $("#info").html('To start streaming over the network, please enable CasaStream.');
                    $("#sources").html('Please enable CasaStream to detect sources.');
                }
                loadListeners();
            }
        }       

        function scan(data){
            if(data == undefined){
                $("#slaves").html('<p><i>Searching for zones...</i></p>');
                send_command("/scan/", scan);
            }
            else{
                $("#slaves").html('');
                for(var i = 0; i < data.length; i++){
                    s = '<li class="slave">';
                    var state = data[i]['enabled'];
                    s = s + '<div class="settings">'; 
                    if(state == true){
                       s = s + '<label class="checkbox toggle android" onclick=""><input type="checkbox" class="toggle_slave" checked rel="'+data[i]['host']+'"><span><span>Off</span><span>On</span></span><a class="slide-button"></a></label>';
                    }
                    if(state == false){
                        s = s + '<label class="checkbox toggle android" onclick=""><input type="checkbox" class="toggle_slave" rel="'+data[i]['host']+'"><span><span>Off</span><span>On</span></span><a class="slide-button"></a></label>';    
                    }
                    s = s + '<button id="rename" rel="'+data[i]['host']+'">rename</button></div>';
                    s = s + '<p>'+data[i]['zone']+' - <i>'+data[i]['host']+'</i></p><div style="clear:both"></div></li>';
                    $("#slaves").append(s);
                }
                $("#rescan").html('Re-scan');
                loadListeners();
            }
        }

        function enable_slave(host){
            update_slave(1, host);
        }
        
        function disable_slave(host){
            update_slave(0, host);
        }
   
        function sort_inputs(inputs){
            send_command("/sort-inputs/"+inputs);
        }

        setInterval(function(){
        //    scan();
            get_status();
        }, 10000);

        get_status();
        scan();
        </script>

    </body>
</html>
